{% macro render_record(thead, search_value, items) %}
{# 查看功能 #}
<div>
  <form class="seek">
      <div class="row">
          <div class="col-md-6  col-md-offset-3">
              <div class="input-group">
                  <input type="text" class="form-control" name="search" value="{{ search_value }}"  placeholder="搜索内容" required autofocus />
                    <span class="input-group-btn">
                    <button class="btn blue" type="submit">搜索</button>
                    </span>
              </div>
          </div>
      </div>
      <div class="row" style='margin-top:20px'>
        <div class="col-md-12">
            <label style='margin-left:5px'>选择隐藏项目： </label>
            {% for th in thead %}
                {% if not th[3] %}
                <label><input name="hidden" value= {{th[0]}}  type="checkbox" class="toggle-vis" data-column="{{ th[0] }}"/>{{ th[1] }}
                </label>
                {% else %}
                <label><input name="hidden" value= {{th[0]}}  type="checkbox" class="toggle-vis" checked  data-column="{{ th[0] }}"/>{{ th[1] }}
                </label>
                {% endif%}
            {% endfor %}
        </div>
      </div>
  </form>
</div>
<div class="row" style='margin-top:20px'>
    <div class="col-md-12">
        <div class="portlet box blue-hoki" style="margin-top:20px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>搜索结果
                </div>
            </div>
            <div class="portlet-body">
                {% if items %}
                <table id="search" class="table table-striped table-bordered display" cellspacing="0" width="100%" style='margin-top:20px;'>
                    <thead>
                        <tr>
                        {% for th in thead %}
                            <th>{{ th[1] }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                         <tr>
                        {%  for content in item.to_list() %}
                            <td>{{ content }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h3 class="text-primary">没有结果，请尝试搜索<h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_search(thead, search_value, items, Permission, current_user, del_page, change_page) %}
{# 搜索加修改功能 #}
<div>
  <form class="seek">
      <div class="row">
          <div class="col-md-6  col-md-offset-3">
              <div class="input-group">
                  <input type="text" class="form-control" name="search" value="{{ search_value }}"  placeholder="搜索内容" required autofocus />
                    <span class="input-group-btn">
                    <button class="btn blue" type="submit">搜索</button>
                    </span>
              </div>
          </div>
      </div>
      <div class="row" style='margin-top:20px'>
        <div class="col-md-12">
            <label style='margin-left:5px'>选择隐藏项目： </label>
            {% for th in thead[:-1] %}
                {% if not th[3] %}
                <label><input name="hidden" value= {{th[0]}}  type="checkbox" class="toggle-vis" data-column="{{ th[0] }}"/>{{ th[1] }}
                </label>
                {% else %}
                <label><input name="hidden" value= {{th[0]}}  type="checkbox" class="toggle-vis" checked  data-column="{{ th[0] }}"/>{{ th[1] }}
                </label>
                {% endif%}
            {% endfor %}
            {% if Permission[current_user.role] >=  Permission.ALTER_REPLY %}
                {% if not thead[-1][3] %}
                <label><input name="hidden" value= {{thead[-1][0]}}  type="checkbox" class="toggle-vis" data-column="{{ thead[-1][0] }}"/>
                {{ thead[-1][1] }}
                </label>
                {% else %}
                <label><input name="hidden" value= {{thead[-1][0]}}  type="checkbox" class="toggle-vis" checked  data-column="{{ thead[-1][0] }}"/>
                {{ thead[-1][1] }}
                </label>
                {% endif %}
            {%endif%}
        </div>
      </div>
  </form>
</div>
<div class="row" style='margin-top:20px'>
    <div class="col-md-12">
        <div class="portlet box blue-hoki" style="margin-top:20px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>搜索结果
                </div>
            </div>
            <div class="portlet-body">
                {% if items %}
                <table id="search" class="table table-striped table-bordered display" cellspacing="0" width="100%" style='margin-top:20px;'>
                    <thead>
                        <tr>
                        {% for th in thead[:-1] %}
                            <th>{{ th[1] }}</th>
                        {% endfor %}
                        {% if Permission[current_user.role] >=  Permission.ALTER_REPLY %}
                            <th>操作</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                         <tr>
                        {%  for content in item.to_list() %}
                            <td>{{ content }}</td>
                        {% endfor %}
                        {% if Permission[current_user.role] >=  Permission.ALTER_REPLY %}
                            <td>
                            <div class="setting">
                            <button id="delete" type="button" class="btn btn-danger btn-xs"
                            data-id={{ item.id }} data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-trash-o"></i>删除</button>
                            <button id="change" type="button" class="btn btn-info btn-xs" 
                            data-id={{ item.id }} data-toggle="modal" data-target=".bs-example-modal-sm-setting"><i class="fa fa-edit"></i>修改</button>
                            </div>
                            </td>
                        {% endif%}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h3 class="text-primary">没有结果，请尝试搜索<h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--删除-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除</h4>
      </div>
      <div class="delete modal-body">
        <p>删除后将无法恢复</p>
        <form id="confirmdeldelete" method="POST" action={{ del_page }}>
         <input id="subdelete" type="hidden" name="id" >
         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-danger">确认删除</button>
         </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--修改-->
<div class="modal fade bs-example-modal-sm-setting" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改</h4>
      </div>
      <div class="delete modal-body">
          <form id="confirmdelchange" method="POST" action={{ change_page }}>
          <div class="form-group">
           <label class="control-label" >更改项目</label>
               <select id="subitem" class="form-control" name="item">
                {% for th in thead[:-1] %} 
                <option value="{{ th[2] }}">{{ th[1] }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label class="control-label">更改内容</label>
            <input id="subvalue" class="form-control" type="text" name="value">
          </div>
         <input id="subchange" type="hidden" name="id" >
         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-danger">确认修改</button>
         </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--提示-->
<div class="modal fade" id='tipModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
{# 分页功能 #}
<div class="dataTables_info" id="example_info" role="status" aria-live="polite">
    <h3> 第 {{ pagination.page }} 页 共 {{ pagination.pages }} 页 共 {{ pagination.total }} 项结果</h3>
</div>
<ul class="pagination">
  <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{% else %}#{% endif %}">
      &laquo;
    </a>
  </li>
  {% for p in pagination.iter_pages() %}
    {% if p %}
      {% if p == pagination.page %}
      <li class="active">
        <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
      </li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %}
  {% endfor %}
  <li{% if not pagination.has_next %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{% else %}#{% endif %}">
        &raquo;
    </a>
  </li>
</ul>
{% endmacro %}
