{% extends "base.html" %}
{% block body_css %}
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo">
{% endblock %}
{% block body %}
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <a href="/cmdb">
            <img src="/static/assets/admin/layout/img/IDCMS-CMDB.png" alt="logo" class="logo-default"/>
            </a>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="/static/assets/admin/layout/img/user.jpg"/>
                    <span class="username username-hide-on-mobile">
                    {{ current_user.username }}</span>
                    <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="/cmdb/cabinet">
                            <i class=" icon-map"></i>CMDB
                            </a>
                        <li>
                            <a href="/auth/setting">
                            <i class="icon-settings"></i>设置</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/auth/logout">
                            <i class="icon-key"></i>注销 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="margin-top:25px;">
                {% block sidebar %}
                <!--示例
                <li>
                    <a href="javascript:;">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="index.html">
                            Default Dashboard</a>
                        </li>
                    </ul>
                </li>-->
                {% endblock %}
            </ul>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            {% for message in get_flashed_messages() %}
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
              </div>
            {% endfor %}
            {% block content %}
            <!--页面内容-->
            {% endblock %}
        </div>
    </div>
</div>
<div class="page-footer">
    <div class="page-footer-inner">
         2015 &copy; IDCMS
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
{% endblock %}
