{% extends "navbase.html" %}
{% block muen %}
<ul class="nav nav-sidebar">
  <li class="active"><a href="#">CMDB-导航</a></li>
</ul>
{% endblock %}
{% block content %}
<h3 class="page-header">基础信息</h3>
<div>
 <p style="margin-left:20px;">
   <a class="btn btn-lg btn-success" href="/cmdb/sales">销售</a> 
   <a class="btn btn-lg btn-warning" href="/cmdb/client" style="margin-left:20px">客户</a>
   <a class="btn btn-lg btn-info" href="/cmdb/site" style="margin-left:20px">机房</a>
   <a class="btn btn-lg btn-primary" href="/cmdb/rack" style="margin-left:20px" >机柜</a>
   <a class="btn btn-lg btn-success" href="/cmdb/ipsubnet" style="margin-left:20px">IP子网</a>
   <a class="btn btn-lg btn-info" href="/cmdb/ippool" style="margin-left:20px">IP池</a>
   <a class="btn btn-lg btn-warning" href="/cmdb/cabinet" style="margin-left:20px">机柜表</a>
   <a class="btn btn-lg btn-danger" href="/cmdb/record" style="margin-left:20px">操作记录</a>
 </p>
</div>
{% endblock %}
