{% extends "navbase.html" %}
{% block sidebar %}
{% for side in sidebar['sidebar_for'] %}
<li class={{ sidebar[side]['class'] }}>
    <a href={{ sidebar[side]['href'] }}>
    <i class={{ sidebar[side]['icon'] }}></i>
    <span class="title">{{sidebar[side]['title']}}</span>
    </a>
    <ul class="sub-menu">
        {% for l in sidebar[side]['li_for'] %}
        <li class="{{ sidebar[side]['li'][l][0] }}" id={{ sidebar[side]['li'][l][1] }}>
        <a herf="javascript：;">{{ sidebar[side]['li'][l][2] }}</a>
        </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
{% endblock %}
{% block content %}
<div>
    <h2>常用使用说明</h2>
    <h3>1 添加流程</h3>
    <br />
    <h4>销售 --> 客户 --> 添加机房 --> 添加机架 --> IP子网 --> IP池 -->设备信息</h4>
    <br />
    <blockquote class="hero">
        <p><i class="icon-info"></i> 注意：
            销售，客户，机房， IP子网， IP地址， 资产编号，等信息都是唯一的。
        </p>
        <p>机架名，不同机房可以有相同名称，同一机房名称是唯一的。</p>
    </blockquote>
    <br />
    <h3>2 添加命名</h3>
        <br />
        <h4>（1）机房名称： 省 + 市 + 机房名（如吉林长春二枢纽联通机房）</h4>
        <br />
        <h4>（2）设备编号： 如果没有资产编号，统一使用设备标签IP作为资产编号</h4>
        <br />
        <h4><p>（3）IP地址： 多个服务器公用一个公网IP ，如N台内网机器公用一个公网IP 111.111.111.111 这样在添加IP的时候，外</p>
        <br />
        <p>网IP栏为空，在备注中写明公网IP，并在IP管理中更改IP的销售代表和使用用户，如果该设备没有IP地址，在添加到主机</p>
        <br />
        <p>信息的时候外网和内网IP栏为空，但是必须有一个资产编号。</p>
        </h4>
        <br />
        <h4><p>（4）自用 机架、IP段、 设备、测试机和备用机、被封IP 等录入规则： </p>
        <br />
        <p>销售代表，统一为 公司名称简写。</p>
        <br />
        <p>使用用户</p>
        </br>
        <li>机架：公司自用。</li>
        <br />
        <li>自用设备：公司部门, 如 IDC（统一为大写）。</li>
        <br />
        <li>测试机和备用机：测试服务器 和 备用服务器， 备注写明测试用户。</li>
        <br />
        <li>被封IP：被封IP。</li>
        </h4>
    <br />
    <h3>3 搜索</h3>
        <br />
        <h4> <p>(1)可搜索字段：所有项目对应查询结果顺序 <p>
        <br />
        <li> 销售和客户：username, contact, remark </li>
        <br />
        <li> 机房：site, isp, location, address, contact, remark</li>
        <br />
        <li> 机架：rack, site, count, power,sales, client, start_time, expire_time, remark</li>
        <br />
        <li> IP子网：subnet, start_ip, end_ip, netmask, site, sales, client, start_time, expire_time, remark</li>
        <br />
        <li> IP：ip, netmask, gateway, subnet, site, sales, client, remark</li>
        <br />
        <li> 机柜表：an, wan_ip, lan_ip, site, rack, seat, bandwidth, up_link, height, brand, model, sn, sales, 
        client, start_time, expire_time, remark</li>
        <br />
        <li> 操作记录：username, status, table, table_id, item, value, date</li></h4>
        <br />
        <br />
        <h4>（1）常规搜索： 直接输入搜索内容，默认查询所有可查询字段的第一个字段，或者输入一个字段名 如 wan_ip==10.10.10.1，支持模糊搜索。</h4>
        <br />
        <h4>（2）多条件搜索： site==xx rack==xx sales==xxx 后面的搜索在上次的基础上在进行搜索,支持模糊搜索。</h4>
        <br />
        <h4>（3）时间搜索： 开始时间和结束时间支持 start_time==2014-12-11:2015-12-12 一个开始时间和一个结束时间进行搜索，可以添加到
        到条件搜索中。
        </h4>
        <br />
        <h4>（4）OR搜索： OR:: 开头 输入 site==xxx site==xxx 可以同时搜索这两个机房,不支持模糊搜索。</h4>
        <br />
        <h4>（5）搜索所有： ALL::</h4>
    <br />
    <h3>4 删除</h3>
        <br />
        <h4>（1）删除机柜表设备。</h4>
        <br />
        <h4>（2）根据使用用户，检查还有没有单独添加的IP，确认后删除。</h4>
        <br />
        <h4>（3）检查客户有没有单独使用的IP段，确认后删除。</h4>
        <br />
        <h4>（4）删除使用用户。</h4>
</div>
{% endblock %}
