{% extends "navbase.html" %}
{% import "macros.html" as macros %}
{% block sidebar %}
{% for side in sidebar['sidebar_for'] %}
<li class={{ sidebar[side]['class'] }}>
    <a href={{ sidebar[side]['href'] }}>
    <i class={{ sidebar[side]['icon'] }}></i>
    <span class="title">{{sidebar[side]['title']}}</span>
    </a>
    <ul class="sub-menu">
        {% for l in sidebar[side]['li_for'] %}
        <li class="{{ sidebar[side]['li'][l][0] }}" id={{ sidebar[side]['li'][l][1] }}>
        <a herf="javascript:;">{{ sidebar[side]['li'][l][2] }}</a>
        </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
{% endblock %}
{% block content %}
{{ macros.render_record(thead, search_value, items) }}
{% if items %}
    <div class="pagination">
        {{ macros.render_pagination(pagination, endpoint, search=search_value) }}
    </div>
{% endif %}
{% endblock %}
{% block js %}
  <script src="{{ url_for('static', filename='js/idcms.js') }}"></script>
{% endblock %}
