{% extends "navbase.html" %}
{% block sidebar %}
{% for side in sidebar['sidebar_for'] %}
<li class={{ sidebar[side]['class'] }}>
    <a href={{ sidebar[side]['href'] }}>
    <i class={{ sidebar[side]['icon'] }}></i>
    <span class="title">{{sidebar[side]['title']}}</span>
    </a>
    <ul class="sub-menu">
        {% for l in sidebar[side]['li_for'] %}
        <li class="{{ sidebar[side]['li'][l][0] }}" id={{ sidebar[side]['li'][l][1] }} url= {{ sidebar[side]['li'][l][4] }}>
        <a herf="javascript:;">{{ sidebar[side]['li'][l][2] }}</a>
        </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>统计结果
                </div>
            </div>
            <div class="portlet-body">
                <div id="site" class="{{ sidebar[sidebar_name]['li']['site'][3] }}">
                  <span class="text-primary">选择机房</span>
                    <select id="site_info">
                      {% for site in all_site %}
                      <option value={{ site.site }}>{{ site.site }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div id="main" style="height:400px; margin-top:20px"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='echarts/build/dist/echarts.js') }}"></script>
<script src="{{ url_for('static', filename='js/idcms.statistics.js') }}"></script>
{% endblock %}
