{% extends "navbase.html" %}
{% block muen %}
  <div class="side">
    <ul class="nav nav-sidebar">
        <li id="adduser" class="{{ idclass['adduser'][0] }}"><a>添加用户</a></li>
      <li><a>管理用户</a></li>
      <li id="passwd" class="{{ idclass['passwd'][0] }}"><a>修改密码</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
  <div id="adduser" class="{{ idclass['adduser'][1] }}">
      <h3 class="page-header">添加用户</h3>
  </div>
  <div id="passwd" class="{{ idclass['passwd'][1] }}">
    <h3 class="page-header">修改密码</h3>
    <form class="form-horizontal" method="post" action="">
      {{ passwd_form.hidden_tag() }}
      <div class="form-group">
        {{ passwd_form.old_password.label(class="col-sm-2 control-label")}}
        <div class="col-sm-3">
          {{ passwd_form.old_password(class="form-control")}}
        </div>
      </div>
      <div class="form-group">
        {{ passwd_form.password.label(class="col-sm-2 control-label")}}
          <div class="col-sm-3">
            {{ passwd_form.password(class="form-control")}}
        </div>
      </div>
      <div class="form-group">
        {{ passwd_form.password2.label(class="col-sm-2 control-label")}}
          <div class="col-sm-3">
            {{ passwd_form.password2(class="form-control")}}
          </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" name="action" value="passwd" class="btn btn-default">确认修改</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block js %}
  <script src="{{ url_for('static', filename='js/idcms.js') }}"></script>
{% endblock %}
