{% extends "navbase.html" %}
{% import "macros.html" as macros %}
{% block sidebar %}
{% for side in sidebar['sidebar_for'] %}
<li class={{ sidebar[side]['class'] }}>
    <a href={{ sidebar[side]['href'] }}>
    <i class={{ sidebar[side]['icon'] }}></i>
    <span class="title">{{sidebar[side]['title']}}</span>
    </a>
    <ul class="sub-menu">
        {% for l in sidebar[side]['li_for'] %}
        <li class="{{ sidebar[side]['li'][l][0] }}" id={{ sidebar[side]['li'][l][1] }}>
        <a herf="javascript:;">{{ sidebar[side]['li'][l][2] }}</a>
        </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
{% endblock %}
{% block content %}
<div id="passwd" class="{{ sidebar[sidebar_name]['li']['passwd'][3] }}">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bank"></i>修改密码
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" method="post">
                <div class="form-body">
                    <div class="row">
                    {{ passwd_form.hidden_tag() }}
                    {% for form in passwd_form %}
                        {% if form != passwd_form.csrf_token %}
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.label(class="col-sm-5 control-label") }}
                                <div class="col-sm-3">
                                    {{ form(class="form-control")}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            <div class="form-actions right">
                <button type="submit" class="btn blue" name="action" value="passwd"><i class="fa fa-check"></i>确认</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="register" class="{{ sidebar[sidebar_name]['li']['register'][3] }}">
    {# 使用Permission[current_user.role] 实现了类似 getattr(Permission, current_user.role) 的方法 #}
    {% if Permission[current_user.role] >=  Permission.ADMIN %}
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bank"></i>添加用户
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" method="post">
                <div class="form-body">
                    <div class="row">
                    {{ register_form.hidden_tag() }}
                    {% for form in register_form %}
                        {% if form != register_form.csrf_token %}
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.label(class="col-sm-5 control-label") }}
                                <div class="col-sm-3">
                                    {{ form(class="form-control")}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            <div class="form-actions right">
                <button type="submit" class="btn blue" name="action" value="register"><i class="fa fa-check"></i>保存</button>
            </div>
            </form>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info" role="alert">提示：当前用户没有权限</div>
    {% endif %}
</div>
<div id="edituser" class="{{ sidebar[sidebar_name]['li']['edituser'][3] }}">
    {% if Permission[current_user.role] >=  Permission.ADMIN %}
        {{ macros.render_search(thead, search_value, items, Permission, current_user, set_page) }}
        {% if items %}
        <div class="pagination">
            {{ macros.render_pagination(pagination, endpoint, search=search_value, hiddens=checkbox) }}
        </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">提示：当前用户没有权限</div>
    {% endif %}
</div>
{% endblock %}
{% block js %}
  <script src="{{ url_for('static', filename='js/idcms.cmdb.js') }}"></script>
{% endblock %}
