{% extends "navbase.html" %}
{% block sidebar %}
{% for side in sidebar['sidebar_for'] %}
<li class={{ sidebar[side]['class'] }}>
    <a href={{ sidebar[side]['href'] }}>
    <i class={{ sidebar[side]['icon'] }}></i>
    <span class="title">{{sidebar[side]['title']}}</span>
    </a>
    <ul class="sub-menu">
        {% for l in sidebar[side]['li_for'] %}
        <li class="{{ sidebar[side]['li'][l][0] }}" id={{ sidebar[side]['li'][l][1] }}>
        <a herf="javascript:;">{{ sidebar[side]['li'][l][2] }}</a>
        </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
{% endblock %}
{% block content %}
<div id="my_task" class="{{ sidebar[sidebar_name]['li']['my_task'][3] }}">
</div>
<div id="put_task" class="{{ sidebar[sidebar_name]['li']['put_task'][3] }}">
    <div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-file-text-o"></i>发布任务
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" method="post">
                <div class="form-body">
                    <div class="row">
                    {{ task_form.hidden_tag() }}
                    {% for form in task_form %}
                        {% if form not in [ task_form.csrf_token, task_form.body ] %}
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.label(class="col-sm-2 control-label") }}
                                <div class="col-sm-5">
                                    {{ form(class="form-control")}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ task_form.body.label(class="col-sm-2 control-label") }}
                                <div class="col-sm-5">
                                    {{ task_form.body(class="form-control", rows="8")}}
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-12">
                        <button type="submit" class="btn blue" name="action" value="put_task"><i class="fa fa-check"></i>确认</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
